@using BookRecommendationWebApp.Models.Accounts
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BookRecommendationWebApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/layout-style.css" />
    <link href="~/chosen/chosen.min.css" rel="stylesheet" />
</head>
<body>
    <header>
        <div class="border-bottom box-shadow header-bar">
            <img class="logo" src="~/images/logo.svg" />
            <nav>
                <ul class="navigation-links">
                    <li>
                        <a class="navigation-link" asp-area="" asp-controller="Books" asp-action="Browse">Browse</a>
                    </li>
                    <li>
                        <a class="navigation-link" asp-area="" asp-controller="Home" asp-action="Privacy">Recommendations</a>
                    </li>
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <li>
                            <a class="navigation-link" asp-area="" asp-controller="Books" asp-action="AddBook">Add Books</a>
                        </li>
                    }
                </ul>
            </nav>
            <partial name="_LoginPartial" />
        </div>

    </header>
    <div>
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - Bookworm's Advisor - <a asp-area="" asp-controller="Books" asp-action="Browse">Browse</a>
            - <a asp-area="" asp-controller="Home" asp-action="Index">Recommendations</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/chosen/chosen.jquery.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>